/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header*/
header {
  justify-content: center;
  align-items: center;
  display: flex;


}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

/*article div {
  text-align: center;
  width: 100%;
}
*/

article div {
  
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
 }
/*.h {padding: 0 300px}*/

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

/* Groups and items */

/*.group {
  display: flex;
  flex-direction: row;
  align-items:center;  
  justify-content:center;
}

.item {
  margin: 0 auto px;
  padding: 0px;
  align-items: center;
 }

.about-section .flex-container {
  display: flex;
  align-items: center;
  padding : 0 200px
}
.about-section .image-circle {

  margin-right: 20px;
}
.about-section .text-section {
  text-align: left;
}
.about-section .right-align {
  text-align: left;
}

.text.left {
  text-align: left;
}
.portfolio-section {
  display: flex;
  justify-content: space-between;
} */

.about {
  display:flex;
  text-align: left;
}

.portfolio {
  display:flex;
  text-align: center;
}

.portfolio section {
  padding: 5px;
  font-size: 14px;
}
